.godot/
*.import
addons/
build/

/rust/Cargo.lock
/rust/target/
/rust/build.rs
/rust/c_src

godot/Resources/audio/Cache/
*.wav
!godot/Resources/audio/metronome_click.wav
*.mid
!godot/Resources/audio/fingerbib.mid
*.ogg
!godot/Resources/audio/shadertoy_music_experiment_min_bitrate.ogg
*.sf2
!godot/Resources/audio/dsdnmoy.sf2

.idea/
.DS_Store
