JET_STRENGTH 10.0
JET_SPREAD_ANGLE 14.0
JET_MAX_DISTANCE 18.0
FUNNEL_STRENGTH 2.0
FUNNEL_REACH 4.7
FUNNEL_CATCH_RADIUS 5.0
FUNNEL_SINK_RADIUS 0.7
FUNNEL_CURVE_POWER 1.5
WALL_REDIRECT_STRENGTH 0.8
WALL_REDIRECT_DISTANCE 3.0
CHI_SAMPLE_HEIGHT 0.0
CHI_ARROW_LENGTH 2.0

ROTATION_FREQUENCY_HZ 0.15
DEFORMATION_CYCLES_PER_ROTATION 1.0
ROTATIONAL_SAMPLES_FOR_INV_PROJ 35
WAVE_CYCLES_SLOW 7.0
WAVE_CYCLES_FAST 255.0
WAVE_AMPLITUDE_X 0.0
WAVE_AMPLITUDE_Y 0.1
