JET_STRENGTH 10.0
JET_SPREAD_ANGLE 14.0
JET_MAX_DISTANCE 18.0
FUNNEL_STRENGTH 2.0
FUNNEL_REACH 6.0
FUNNEL_CATCH_RADIUS 4.0
FUNNEL_SINK_RADIUS 0.7
FUNNEL_CURVE_POWER 1.5
WALL_REDIRECT_STRENGTH 0.8
WALL_REDIRECT_DISTANCE 5.0
CHI_SAMPLE_HEIGHT 0.2
CHI_ARROW_LENGTH 0.4
ROTATION_FREQUENCY_HZ 0.05

#SOMETHING CRASHES WITH THESE? and they dont update everytime i save the file?? what is happening? probably broken
DEFORMATION_CYCLES_PER_ROTATION 1.0    # NOT UPDATING? CANT TELL THE EFFECT, POTENTIALLY USELESS VALUE SINCE ITS DEFAULT TO 1.0?
TIME_BETWEEN_SAMPLES 0.05              # NOT UPDATING? CANT TELL THE EFFECT AND LOGS SHOW NO UPDATE
ROTATIONAL_SAMPLES_FOR_INV_PROJ 20     # NOT UPDATING? CANT TELL THE EFFECT NO LOGS SHOWING UPDATES EITHER? CAUSES A CRASH??

WAVE_CYCLES_SLOW 7.0
WAVE_CYCLES_FAST 255.0
WAVE_AMPLITUDE_X 0.0
WAVE_AMPLITUDE_Y 0.1

