JUGEMU_DISTANCE_ORTHO 6.5
JUGEMU_DISTANCE_PERSPECTIVE 9.0
FOVY_PERSPECTIVE 50.0
FOVY_ORTHOGRAPHIC 9.0
BLEND_SCALAR 5.0
PLACEMENT_ANIM_DUR_SECONDS 0.15
HINT_SCALE 0.66

ROTATION_FREQUENCY_HZ 0.2
DEFORMATION_CYCLES_PER_ROTATION 1.0
WAVE_CYCLES_SLOW 7.0
WAVE_CYCLES_FAST 255.0
WAVE_AMPLITUDE_X 0.0
WAVE_AMPLITUDE_Y 0.1
TIME_BETWEEN_SAMPLES 0.25
ROTATIONAL_SAMPLES_FOR_INV_PROJ 40