[package]
name = "bath"
version = "0.1.0"
edition = "2021"

[dependencies]
godot = "0.2.4"
aubio-rs = "0.2.0"
hound = "3.4.0"    # WAVâ€file reader
biquad = "0.5.0"
#rspleeter = { git = "https://github.com/ldm0/rspleeter.git", branch = "master" }
midir = "0.10.1"
rdev = "0.5.3"
terminal_size = "0.4.2"
rustysynth = "1.3.5"
midly = "0.5.3"


[lib]
crate-type = ["cdylib"]


