[package]
name = "bath"
version = "0.1.0"
edition = "2021"

[dependencies]
godot = "0.2.4"
aubio-rs = "0.2.0"
hound = "3.4.0"    # WAVâ€file reader
biquad = "0.5.0"
#rspleeter = { git = "https://github.com/ldm0/rspleeter.git", branch = "master" }


[lib]
crate-type = ["cdylib"]  # Compile this crate to a dynamic C library.
